/* Scrollbar for WebKit (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 3px;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #eee;
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f5f9fc transparent;
}
